.footer {
    background-color: rgb(23, 23, 23);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
.footer-content{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.footer-content ul{
    list-style: none;
}
.footer-content ul li{
    padding-bottom: 10px;
    color: #fff;
    line-height: 40px;
    font-size: 17px;
}
.footer-content ul .icon{
    display: flex;
    gap: 20px;
}