.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}

.contact-content .content-info {
    width: 50%;

}

.contact-content .content-info .contact-title {
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}

.content-info ul {
    list-style: none;
    margin-bottom: 30px;
}

.content-info ul li {
    color: #333333;
    line-height: 40px;
    font-size: 17px;
}

.content-info ul .icon {
    display: flex;
    gap: 20px;
}

.content-info .email a {
    text-decoration: none;
    color: #333333;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}

.contact-content .content-form {
    width: 50%;
}

.contact-content .content-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.contact-content .content-form .form-group .form-label {
    color: #333333;
    padding: 5px 0px;
}

.contact-content .content-form .form-group .form-input {
    padding: 10px;
    border: 1px solid #cccccc;
}

.contact-content .content-form .form-group .form-input:focus {
    outline: none;
}

.contact-content .content-form .form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content .content-form .form-btn .send-btn {
    font-size: 17px;
    line-height: 27px;
    padding: 10px 50px;
    background-color: #944a4a;
    border: none;
    color: #fff;
}

.map {
    margin: 50px 0px;
    border: 3px solid #944a4a;
}