// About
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 50px 0;

  .about-content {
    width: 100%;
    max-width: 50%;

    .about-box {
      width: 95%;
      height: 80%;
      box-shadow: 0px 0px 74px 0px #00000017;
      border-radius: 30px;
      padding: 40px;
      margin-left: 20%;
      z-index: 1;
      position: relative;
      background: var(--white);;
      @media only screen and (max-width: 768px) {
        width: 100%;
        margin-left: 0%;
      
    }
      h2 {
        color: var(--font-color);;
        font-family: var(--font-family);;
        font-size: 50px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 3px;
        text-align: left;
        margin-bottom: 20px;
      }

      span,
      p {
        font-family: var(--font-family);;
        font-size: 22px;
        line-height: 35px;
        text-align: left;
        color: var(--font-color);;
      }

      p {
        font-weight: 400;
        margin: 25px 0;
      }
    }
  }

  .about-image {
    width: 100%;
    max-width: 50%;
    z-index: -1;

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 40px 0 0 40px;
      z-index: -1;
    }
  }
}

// Media Queries
@media only screen and (max-width: 1200px) {
  .about-container .about-content .about-box {
    h2 {
      font-size: 36px;
      line-height: 50px;
      letter-spacing: 2px;
    }

    span,
    p {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .about-container .about-content .about-box {
    h2 {
      font-size: 32px;
      line-height: 48px;
      letter-spacing: 1px;
    }

    span,
    p {
      font-size: 16px;
      line-height: 24px;
    }

    .explore-btn {
      width: 136px;
      height: 44px;
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: flex-start;
    
    .about-content
    .about-box {
      margin-left: 0;
      padding: 20px;
      text-align: center;
      h2 {
        font-size: 30px;
        text-align: center;
        line-height: 36px;
      }

      span,
      p {
        font-size: 16px;
        text-align: center;
      }
    }
    .about-content,
    .about-image {
      max-width: 100%;
      padding: 10px;
    }


    .about-image img {
      border-radius: 30px;
    }
  }
}
